NEXT_PUBLIC_SITE_URL=https://www.vivenciasazuis.com.br
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PRICE_ID_APOIAR=price_xxx
STRIPE_PRICE_ID_FORTALECER=price_xxx
STRIPE_PRICE_ID_SUSTENTAR=price_xxx
# local
DATABASE_URL=file:./local.db
# production
# DATABASE_URL=libsql://your-db.turso.io
# TURSO_AUTH_TOKEN=your_turso_auth_token
PIX_PROVIDER=direct_pix
ABACATE_PAY_API_KEY=abacate_test_xxx
MERCADO_PAGO_ACCESS_TOKEN=APP_USR_xxx
