NEXT_PUBLIC_SITE_URL=https://www.vivenciasazuis.com.br
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PRICE_ID_APOIAR=price_xxx
STRIPE_PRICE_ID_FORTALECER=price_xxx
STRIPE_PRICE_ID_SUSTENTAR=price_xxx
ABACATE_PAY_API_KEY=abacate_test_xxx
